In [67]:
from pathlib import Path
import os
import numpy as np
import pandas as pd

# sci-kit learn is our one-stop shop for machine learning!
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn import metrics

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

In [68]:
path=Path.cwd()

In [69]:
datapath=Path.joinpath(path,'data')

In [70]:
os.listdir(datapath)

['0bf8bc6e-30d0-4c50-956a-603fc693d966.csv',
 '4910797b-ee55-40a7-8668-10efd5c1b960.csv',
 '702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv',
 'SubmissionFormat (1).csv']

In [71]:
fullpath1=Path.joinpath(datapath,'0bf8bc6e-30d0-4c50-956a-603fc693d966.csv')
fullpath2=Path.joinpath(datapath,'4910797b-ee55-40a7-8668-10efd5c1b960.csv')

In [72]:
df1=pd.read_csv(fullpath1)
df2=pd.read_csv(fullpath2)

In [73]:
df1.head()
df2.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [74]:
full_df=pd.merge(df1,df2)

In [75]:
full_df.head()

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,functional,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,non functional,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [76]:
cols=full_df.columns

In [77]:
ids=full_df['id']

In [78]:
#full_df.set_index('id',inplace=True)

In [79]:
full_df.head()

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,functional,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,non functional,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [80]:
full_df.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [81]:
type(cols)

pandas.core.indexes.base.Index

In [82]:


numeric_col_list=['amount_tsh','gps_height','longitude','latitude','num_private','region_code','district_code','population','construction_year']

qual=list(cols)
for i in numeric_col_list:
    if i in qual:
        qual.remove(i)

In [83]:
data_num=pd.DataFrame(full_df[numeric_col_list])
data_num.head()

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
0,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999
1,0.0,1399,34.698766,-2.147466,0,20,2,280,2010
2,25.0,686,37.460664,-3.821329,0,21,4,250,2009
3,0.0,263,38.486161,-11.155298,0,90,63,58,1986
4,0.0,0,31.130847,-1.825359,0,18,1,0,0

In [84]:
from sklearn.preprocessing import StandardScaler
model=StandardScaler()
scaled_results = model.fit_transform(full_df[numeric_col_list])
# convert those results into a dataframe
scaled_df = pd.DataFrame(scaled_results, columns=numeric_col_list)
scaled_df.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
0,1.895665,1.041252,0.131052,-1.408791,-0.038749,-0.244325,-0.065370,-0.150399,0.733857
1,-0.105970,1.054237,0.094610,1.207934,-0.038749,0.267409,-0.376781,0.212290,0.745416
2,-0.097630,0.025541,0.515158,0.639751,-0.038749,0.324269,-0.169174,0.148660,0.744365
3,-0.105970,-0.584751,0.671308,-1.849720,-0.038749,4.247564,5.955245,-0.258570,0.720196
4,-0.105970,-0.964200,-0.448669,1.317271,-0.038749,0.153691,-0.480585,-0.381587,-1.366788

In [85]:
X = scaled_df
Y = full_df['status_group']
# feature extraction
model = ExtraTreesClassifier(n_estimators=10)
model.fit(X, Y)
print(X.columns)
print(model.feature_importances_)

Index(['amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private',
       'region_code', 'district_code', 'population', 'construction_year'],
      dtype='object')
[0.05826805 0.11818231 0.28525055 0.27860895 0.00317369 0.03223689
 0.03906581 0.08570181 0.09951193]

In [86]:
X = data_num
Y = full_df['status_group']
# feature extraction
model = ExtraTreesClassifier(n_estimators=10)
model.fit(X, Y)
print(X.columns)
print(model.feature_importances_)

Index(['amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private',
       'region_code', 'district_code', 'population', 'construction_year'],
      dtype='object')
[0.05773679 0.11597876 0.28571697 0.28573396 0.00296638 0.02766543
 0.03767658 0.08497581 0.10154933]

In [87]:
qual_l=['waterpoint_type_group','source_class','quantity_group','quality_group']

In [88]:
qual2=full_df[qual_l]

In [89]:
qual2.head()

  waterpoint_type_group source_class quantity_group quality_group
0    communal standpipe  groundwater         enough          good
1    communal standpipe      surface   insufficient          good
2    communal standpipe      surface         enough          good
3    communal standpipe  groundwater            dry          good
4    communal standpipe      surface       seasonal          good

In [90]:
d=pd.get_dummies(qual2)

In [91]:
d['id']=ids

In [92]:
data_num['id']=ids

In [93]:
n_full_df=pd.merge(data_num,d)

In [94]:
n_full_df.set_index('id')

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,waterpoint_type_group_cattle trough,...,quantity_group_enough,quantity_group_insufficient,quantity_group_seasonal,quantity_group_unknown,quality_group_colored,quality_group_fluoride,quality_group_good,quality_group_milky,quality_group_salty,quality_group_unknown
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,1390,34.938093,-9.856322e+00,0,11,5,109,1999,0,...,1,0,0,0,0,0,1,0,0,0
8776,0.0,1399,34.698766,-2.147466e+00,0,20,2,280,2010,0,...,0,1,0,0,0,0,1,0,0,0
34310,25.0,686,37.460664,-3.821329e+00,0,21,4,250,2009,0,...,1,0,0,0,0,0,1,0,0,0
67743,0.0,263,38.486161,-1.115530e+01,0,90,63,58,1986,0,...,0,0,0,0,0,0,1,0,0,0
19728,0.0,0,31.130847,-1.825359e+00,0,18,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
9944,20.0,0,39.172796,-4.765587e+00,0,4,8,1,2009,0,...,1,0,0,0,0,0,0,0,1,0
19816,0.0,0,33.362410,-3.766365e+00,0,17,3,0,0,0,...,1,0,0,0,0,0,1,0,0,0
54551,0.0,0,32.620617,-4.226198e+00,0,17,3,0,0,0,...,1,0,0,0,0,0,0,1,0,0
53934,0.0,0,32.711100,-5.146712e+00,0,14,6,0,0,0,...,0,0,1,0,0,0,0,0,1,0
46144,0.0,0,30.626991,-1.257051e+00,0,18,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
49056,0.0,62,39.209518,-7.034139e+00,0,60,43,345,2011,0,...,1,0,0,0,0,0,0,0,1,0
50409,200.0,1062,35.770258,-1.057417e+01,0,10,5,250,1987,0,...,0,1,0,0,0,0,1,0,0,0
36957,0.0,0,33.798106,-3.290194e+00,0,17,2,0,0,0,...,1,0,0,0,0,0,1,0,0,0
50495,0.0,1368,37.092574,-3.181783e+00,0,3,7,1,2009,0,...,1,0,0,0,0,0,1,0,0,0
53752,0.0,0,34.364073,-3.629333e+00,0,17,6,0,0,0,...,1,0,0,0,0,0,1,0,0,0
61848,0.0,1645,31.444121,-8.274962e+00,0,15,2,200,1991,0,...,1,0,0,0,0,0,1,0,0,0
48451,500.0,1703,34.642439,-9.106185e+00,0,11,4,35,1978,0,...,0,0,0,0,0,0,1,0,0,0
58155,0.0,1656,34.569266,-9.085515e+00,0,11,4,50,1978,0,...,0,0,0,0,0,0,1,0,0,0
34169,0.0,1162,32.920154,-1.947868e+00,0,19,1,1000,1999,0,...,0,1,0,0,0,0,0,1,0,0
18274,500.0,1763,34.508967,-9.894412e+00,0,11,5,1,1992,0,...,1,0,0,0,0,0,1,0,0,0
48375,200.0,2216,34.473430,-9.594990e+00,0,11,4,4,2008,0,...,1,0,0,0,0,0,1,0,0,0
6091,0.0,0,0.000000,-2.000000e-08,0,17,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
58500,0.0,1510,34.586901,-8.980014e+00,0,11,4,350,1978,0,...,1,0,0,0,0,0,1,0,0,0
37862,500.0,672,37.940029,-4.125595e+00,0,3,3,210,2011,0,...,1,0,0,0,0,0,1,0,0,0
51058,0.0,1645,29.747066,-4.495568e+00,0,16,3,156,2009,0,...,1,0,0,0,0,0,1,0,0,0
22308,0.0,1273,37.422751,-3.317536e+00,0,3,4,140,1974,0,...,1,0,0,0,0,0,1,0,0,0
55012,500.0,200,39.370777,-9.942532e+00,0,80,23,260,2011,0,...,1,0,0,0,0,0,1,0,0,0
20145,0.0,0,31.104257,-1.735361e+00,0,18,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
19685,0.0,1443,37.611126,-3.263526e+00,0,3,1,1,2000,0,...,0,1,0,0,0,0,1,0,0,0
69124,0.0,1256,37.061688,-3.191989e+00,0,3,7,1,2002,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14796,200.0,1154,30.058731,-4.902633e+00,0,16,2,1,0,0,...,0,0,0,1,0,0,0,0,0,1
20387,0.0,0,33.586406,-3.040369e+00,0,17,2,0,0,0,...,1,0,0,0,0,0,1,0,0,0
29940,0.0,0,32.058548,-5.052101e+00,0,14,4,0,0,0,...,0,1,0,0,0,0,0,0,1,0
15233,5000.0,1137,32.125024,-6.784358e+00,0,15,1,96,1988,0,...,1,0,0,0,0,0,1,0,0,0
49651,0.0,0,0.000000,-2.000000e-08,0,17,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
50998,40000.0,54,39.046942,-5.061494e+00,0,4,4,609,2005,0,...,1,0,0,0,0,0,1,0,0,0
34716,0.0,1581,34.821039,-5.076258e+00,0,13,2,1,1990,0,...,0,0,0,0,0,0,0,0,0,1
43986,0.0,0,33.437012,-4.423594e+00,0,14,2,0,0,0,...,0,1,0,0,0,0,1,0,0,0
38067,500.0,2101,34.620387,-9.358405e+00,0,11,4,36,2008,0,...,1,0,0,0,0,0,1,0,0,0
58255,0.0,0,31.613284,-1.820226e+00,0,18,3,0,0,0,...,1,0,0,0,0,0,1,0,0,0
30647,6000.0,1439,34.942101,-9.849198e+00,0,11,5,50,1999,0,...,0,0,0,0,0,0,1,0,0,0
67885,0.0,0,38.835001,-4.880204e+00,0,4,8,360,1992,0,...,0,1,0,0,0,0,1,0,0,0
47002,6.0,1383,37.454759,-3.323599e+00,0,3,4,1,2008,0,...,1,0,0,0,0,0,1,0,0,0
44616,0.0,11,39.626009,-1.005750e+01,0,80,62,800,2008,0,...,1,0,0,0,0,0,1,0,0,0
72148,0.0,0,30.667805,-2.483710e+00,0,18,30,0,0,0,...,0,1,0,0,0,0,1,0,0,0
34473,500.0,1327,33.951681,-2.021854e+00,0,20,4,200,2011,0,...,1,0,0,0,0,0,0,0,1,0
34952,0.0,1786,31.738789,-8.532013e+00,0,15,2,1000,2009,0,...,1,0,0,0,0,0,1,0,0,0
26640,100.0,25,39.176480,-6.957098e+00,0,7,2,100,2000,0,...,1,0,0,0,0,0,1,0,0,0
72559,0.0,1414,30.692400,-3.593827e+00,0,16,1,500,1995,0,...,0,1,0,0,0,0,1,0,0,0
30410,0.0,783,30.646486,-7.365418e+00,0,15,3,1500,2009,0,...,1,0,0,0,0,0,1,0,0,0
13677,0.0,1715,31.370848,-8.258160e+00,0,15,2,150,1991,0,...,0,1,0,0,0,0,1,0,0,0
44885,0.0,540,38.044070,-4.272218e+00,0,3,3,210,1967,0,...,1,0,0,0,0,0,1,0,0,0
40607,0.0,0,33.009440,-8.520888e+00,0,12,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
48348,0.0,0,33.866852,-4.287410e+00,0,14,2,0,0,0,...,0,1,0,0,0,0,1,0,0,0
11164,500.0,351,37.634053,-6.124830e+00,0,5,6,89,2007,0,...,1,0,0,0,0,0,1,0,0,0
60739,10.0,1210,37.169807,-3.253847e+00,0,3,5,125,1999,0,...,1,0,0,0,0,0,1,0,0,0
27263,4700.0,1212,35.249991,-9.070629e+00,0,11,4,56,1996,0,...,1,0,0,0,0,0,1,0,0,0
37057,0.0,0,34.017087,-8.750434e+00,0,12,7,0,0,0,...,1,0,0,0,0,1,0,0,0,0
31282,0.0,0,35.861315,-6.378573e+00,0,1,4,0,0,0,...,0,1,0,0,0,0,1,0,0,0
26348,0.0,191,38.104048,-6.747464e+00,0,5,2,150,2002,0,...,1,0,0,0,0,0,0,0,1,0

In [95]:
data_num.shape

(59400, 10)

In [96]:
d.shape

(59400, 21)

In [97]:
len(d.columns)

21

In [98]:
full_df.corr()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
id,1.000000,-0.005321,-0.004692,-0.001348,0.001718,-0.002629,-0.003028,-0.003044,-0.002813,-0.002082
amount_tsh,-0.005321,1.000000,0.076650,0.022134,-0.052670,0.002944,-0.026813,-0.023599,0.016288,0.067915
gps_height,-0.004692,0.076650,1.000000,0.149155,-0.035751,0.007237,-0.183521,-0.171233,0.135003,0.658727
longitude,-0.001348,0.022134,0.149155,1.000000,-0.425802,0.023873,0.034197,0.151398,0.086590,0.396732
latitude,0.001718,-0.052670,-0.035751,-0.425802,1.000000,0.006837,-0.221018,-0.201020,-0.022152,-0.245278
num_private,-0.002629,0.002944,0.007237,0.023873,0.006837,1.000000,-0.020377,-0.004478,0.003818,0.026056
region_code,-0.003028,-0.026813,-0.183521,0.034197,-0.221018,-0.020377,1.000000,0.678602,0.094088,0.031724
district_code,-0.003044,-0.023599,-0.171233,0.151398,-0.201020,-0.004478,0.678602,1.000000,0.061831,0.048315
population,-0.002813,0.016288,0.135003,0.086590,-0.022152,0.003818,0.094088,0.061831,1.000000,0.260910
construction_year,-0.002082,0.067915,0.658727,0.396732,-0.245278,0.026056,0.031724,0.048315,0.260910,1.000000

In [99]:
X = pd.merge(d,data_num)
X=X.drop('id',axis=1)
Y = full_df['status_group']
# feature extraction
model = ExtraTreesClassifier(n_estimators=10)
model.fit(X, Y)
print(X.columns)
print(model.feature_importances_)
p=model.feature_importances_
rank=tuple(_)

Index(['waterpoint_type_group_cattle trough',
       'waterpoint_type_group_communal standpipe', 'waterpoint_type_group_dam',
       'waterpoint_type_group_hand pump',
       'waterpoint_type_group_improved spring', 'waterpoint_type_group_other',
       'source_class_groundwater', 'source_class_surface',
       'source_class_unknown', 'quantity_group_dry', 'quantity_group_enough',
       'quantity_group_insufficient', 'quantity_group_seasonal',
       'quantity_group_unknown', 'quality_group_colored',
       'quality_group_fluoride', 'quality_group_good', 'quality_group_milky',
       'quality_group_salty', 'quality_group_unknown', 'amount_tsh',
       'gps_height', 'longitude', 'latitude', 'num_private', 'region_code',
       'district_code', 'population', 'construction_year'],
      dtype='object')
[3.81582297e-04 1.61904780e-02 2.38787552e-05 1.24343254e-02
 2.51654466e-03 4.79389862e-02 4.93872406e-03 5.20641983e-03
 8.44759681e-04 7.29418198e-02 3.28643497e-02 1.29265062e-02
 9.52312420e-03 1.95438591e-03 1.06369031e-03 7.02147976e-04
 5.38522917e-03 1.47983226e-03 3.15041139e-03 9.90895317e-03
 3.32766711e-02 8.81484802e-02 2.01846663e-01 2.04877688e-01
 2.71223403e-03 3.97810454e-02 5.28929109e-02 5.90529390e-02
 7.50352201e-02]

In [100]:
keys=X.columns
values=p
d=dict(zip(values,keys))

In [101]:
s=sorted(d,reverse=True)
for i in s:
    print(d[i])

latitude
longitude
gps_height
construction_year
quantity_group_dry
population
district_code
waterpoint_type_group_other
region_code
amount_tsh
quantity_group_enough
waterpoint_type_group_communal standpipe
quantity_group_insufficient
waterpoint_type_group_hand pump
quality_group_unknown
quantity_group_seasonal
quality_group_good
source_class_surface
source_class_groundwater
quality_group_salty
num_private
waterpoint_type_group_improved spring
quantity_group_unknown
quality_group_milky
quality_group_colored
source_class_unknown
quality_group_fluoride
waterpoint_type_group_cattle trough
waterpoint_type_group_dam

In [102]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [103]:
Y.value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [104]:
Y

0                     functional
1                     functional
2                     functional
3                 non functional
4                     functional
5                     functional
6                 non functional
7                 non functional
8                 non functional
9                     functional
10                    functional
11                    functional
12                    functional
13                    functional
14                    functional
15                    functional
16                non functional
17                non functional
18       functional needs repair
19                    functional
20                    functional
21                    functional
22       functional needs repair
23                    functional
24                    functional
25       functional needs repair
26                    functional
27                    functional
28                non functional
29                    functional
                  ...
59370                 functional
59371             non functional
59372             non functional
59373                 functional
59374                 functional
59375                 functional
59376             non functional
59377             non functional
59378                 functional
59379                 functional
59380             non functional
59381             non functional
59382             non functional
59383                 functional
59384             non functional
59385                 functional
59386                 functional
59387                 functional
59388                 functional
59389                 functional
59390                 functional
59391             non functional
59392             non functional
59393                 functional
59394             non functional
59395                 functional
59396                 functional
59397                 functional
59398                 functional
59399                 functional
Name: status_group, Length: 59400, dtype: object

In [105]:
y=Y.map({'functional':0,'non functional':1,'functional needs repair':2})

In [106]:
y.value_counts()

0    32259
1    22824
2     4317
Name: status_group, dtype: int64

In [107]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [108]:
from sklearn.linear_model import LogisticRegression
instance_lm=LogisticRegression()
fit_lm=instance_lm.fit(X_train,y_train)
predicts_lm=fit_lm.predict(X_test)

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [109]:
accuracy_score(predicts_lm,y_test)

0.6955106621773288

In [110]:
cross_val_score_lm=cross_val_score(instance_lm,X,y,cv=5)

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [111]:
from sklearn.ensemble import RandomForestClassifier
instance_rf=RandomForestClassifier()
fit_rf=instance_rf.fit(X_train,y_train)
predicts_rf=fit_rf.predict(X_test)

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [112]:
accuracy_score(predicts_rf,y_test)

0.784006734006734

In [113]:
cross_val_score_rf=cross_val_score(instance_rf,X,y,cv=5)

In [114]:
cross_val_score_rf

array([0.78983251, 0.78478243, 0.78425926, 0.775     , 0.78599091])

In [115]:
from xgboost import XGBClassifier
instance_xg = XGBClassifier()
fit_xg=instance_xg.fit(X_train, y_train)
predicts_xg=fit_xg.predict(X_test)

In [116]:
accuracy_score(predicts_xg,y_test)

0.725364758698092

In [117]:
cross_val_score_xg=cross_val_score(instance_xg,X,y,cv=5)

In [118]:
cross_val_score_xg

array([0.72493898, 0.72493898, 0.72626263, 0.72693603, 0.73034181])

In [119]:
from keras.models import Sequential
from keras.layers import Dense

In [120]:
len(X.columns)

29

In [121]:
model = Sequential()
model.add(Dense(12, input_dim=29, activation='relu'))
model.add(Dense(29, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [122]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [123]:
model.fit(X_train, y_train, epochs=10, batch_size=10)

Epoch 1/10
41580/41580 [==============================] - 12s 292us/step - loss: 2.5215 - acc: 0.4975
Epoch 2/10
41580/41580 [==============================] - 11s 267us/step - loss: 0.8946 - acc: 0.5425
Epoch 3/10
41580/41580 [==============================] - 11s 253us/step - loss: 0.7083 - acc: 0.5603
Epoch 4/10
41580/41580 [==============================] - 13s 303us/step - loss: 0.6357 - acc: 0.5667
Epoch 5/10
41580/41580 [==============================] - 11s 261us/step - loss: 0.6218 - acc: 0.6037
Epoch 6/10
41580/41580 [==============================] - 11s 268us/step - loss: 0.6068 - acc: 0.6258
Epoch 7/10
41580/41580 [==============================] - 12s 277us/step - loss: 0.5930 - acc: 0.6360
Epoch 8/10
41580/41580 [==============================] - 11s 264us/step - loss: 0.5852 - acc: 0.6403
Epoch 9/10
41580/41580 [==============================] - 12s 293us/step - loss: 0.5775 - acc: 0.64612
Epoch 10/10
41580/41580 [==============================] - 11s 266us/step - loss: 0.5773 - acc: 0.6450

In [125]:
p=model.predict(X_test)
#accuracy_score(p,y_test)

In [126]:
_, accuracy = model.evaluate(X, y)
print('Accuracy: %.2f' % (accuracy*100))

59400/59400 [==============================] - 3s 50us/step
Accuracy: 66.59